.parent{
      height: 160vh;
      width: 110vw;
      display: flex;
      background-color: mediumseagreen;
}

.child1{
    width : 17%;
    height: 100%;
    background-color: red;
    color: violet;
}
