<h1><ins>create-student Form</ins></h1>
<form [formGroup]="studentForm">
    <label>name:</label>
    <input type="text" formControlName="name">
    <br>
    <label>gender:</label>
    <input type="radio" formControlName="gender">
    <br>
    <label>mobile:</label>
    <input type="text" formControlName="mobile">
    <br>
    <label>email:</label>
    <input type="text" formControlName="email">
    <br>
    <label>batch:</label>
    <input type="text" formControlName="batch">
    <br>
    <h2>Address:</h2>
    <label>City:</label>
    <input type="text" formControlName="city">
    <br>
    <label>Mandal:</label>
    <input type="text" formControlName="mandal">
    <br>
    <label>District:</label>
    <input type="text" formControlName="district">
    <br>
    <label>State:</label>
    <input type="text" formControlName="state">
    <br>
    <label>Pincode:</label>
    <input type="text" formControlName="pincode">
    <br>

    
    <button (click)="submit()">submit</button>
</form>